@using Inmobiliaria.Net.Models
@model Inmobiliaria.Net.Models.Inmueble

@{
    ViewData["Title"] = "Create";
     var props = (IList<Propietario>) ViewBag.props;
        var tipos = (IList<Tipo>) ViewBag.tipos;
    var usos = (IList<Uso>) ViewBag.usos;
}

<h1>Alta Inmueble</h1>

<h4>Inmueble</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control"  required/>
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label class="control-label">Usos</label>
             <select class="form-control" name="Uso">
                 @foreach (var item in usos)
                {
                    @:<option value="@item.Id" >@item.UsoInm</option>
                }
                </select>
                <span asp-validation-for="Uso" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Tipo</label>
                
                <select class="form-control" name="Tipo">
                 @foreach (var item in tipos)
                {
                    @:<option value="@item.Id" >@item.TipoInm</option>
                }
                </select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadDeAmbientes" class="control-label"></label>
                <input asp-for="CantidadDeAmbientes" class="form-control"  required/>
                <span asp-validation-for="CantidadDeAmbientes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitud" class="control-label"></label>
                <input asp-for="Latitud" class="form-control"  required/>
                <span asp-validation-for="Latitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitud" class="control-label"></label>
                <input asp-for="Longitud" class="form-control"  required/>
                <span asp-validation-for="Longitud" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control"  required/>
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Superficie" class="control-label"></label>
                <input asp-for="Superficie" class="form-control"  required/>
                <span asp-validation-for="Superficie" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label  class="control-label">Propietario</label>
                <select class="form-control" name="PropietarioId">
                @foreach (var item in props)
                {
                    <option value="@item.Id">@item.ToString()</option>
                }
                </select>
                <span asp-validation-for="PropietarioId" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label  class="control-label">Disponible</label>
                <select class="form-control" name="Disponible">
                
                    <option value="true" selected>Disponible</option>
                    <option value="false">No Disponible</option>
                
                </select>
                
            </div>
             <div class="form-group">
                <input type="submit" value="Generar" class="btn btn-primary" />
            </div>
            
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">VOLVER</a>
</div>

