@model Inmobiliaria.Net.Models.Pago

@{
    ViewData["Title"] = "Delete";
    

    
}

<h1>Borrar</h1>

<h3>Esta seguro de eliminar el siguiente registro?</h3>
<div>
    <h4>Contrato</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContratoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContratoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Periodo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monto)
     
        
        
    </dl>
    
    <form asp-action="Delete">
         <div class="form-group">
                
                <input asp-for="ContratoId" class="form-control" hidden />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">VOLVER</a>
    </form>
</div>
