@model IEnumerable<Inmobiliaria.Net.Models.Pago>

@{
    int? idCont=null;
    if(ViewBag.id != null){
        idCont = ViewBag.id;
    }
}

<h1>Pagos</h1>


<table class="table">
    <thead>
        <tr>
        
         
            <th>
                N° de Contrato
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
               <th>
                @Html.DisplayNameFor(model => model.Periodo)
            </th>
              <th>
                @Html.DisplayNameFor(model => model.FechaPago)
            </th>
            
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
          
            <td>
                @Html.DisplayFor(modelItem => item.ContratoId)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Periodo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPago)
            </td>
           
           
     
            <td>
                @Html.ActionLink("Editar", "Edit", new {  id=item.Id }) |
                @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
                @if (User.IsInRole("Administrador"))
                {
                    @Html.ActionLink("Borrar", "Delete", new { id=item.Id })
                }
                
              
            </td>
        </tr>
        
}
    </tbody>
</table>
@Html.ActionLink("Nuevo Pago", "Create")
