@model IEnumerable<Inmobiliaria.Net.Models.Pago>



<h1>Pagos</h1>


<table class="table">
    <thead>
        <tr>
        
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContratoId)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
               <th>
                @Html.DisplayNameFor(model => model.Periodo)
            </th>
              <th>
                @Html.DisplayNameFor(model => model.FechaPago)
            </th>
            <th>
                Pagar
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContratoId)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Periodo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPago)
            </td>
            <td>
                    <form asp-action="Pagar" method="post">
                <input type="number" name="Id" value="@item.Id" hidden>
                
                
                <input type="submit" value="Pagar">
             </form>
            </td>
           
     
            <td>
                @Html.ActionLink("Editar", "Edit", new {  id=item.Id }) |
                @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
                @Html.ActionLink("Borrar", "Delete", new { id=item.Id })
              
            </td>
        </tr>
}
    </tbody>
</table>
